@font-face {
  font-family: "Moonless SC";
  src: url("../fonts/MoonlessSC-Regular.woff2") format("woff2"),
    url("../fonts/MoonlessSC-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-display: "Moonless SC", "Segoe Print", "Bradley Hand", Chilanka,
    TSCu_Comic, casual, cursive;
  --font-body: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
    Arial, sans-serif;
}

body {
  font-family: var(--font-body);
  color: #333;
}

h1 {
  font-family: var(--font-display);
}

.header {
  background: url("../images/bg.jpg");
  background-size: cover;
  height: 20rem;
  display: flex;
  align-items: center;
  position: relative;
}

.hero {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
}

.hero__img {
  height: clamp(80px, 20vw, 100px);
  margin-right: 1rem;
}

.hero__title {
  color: white;
  font-size: clamp(20px, 10vw, 60px);
}

.hero + p {
  position: absolute;
  bottom: 0px;
  right: 5px;
  color: rgba(255, 255, 255, 0.8);
  font-size: clamp(12px, 3vw, 16px);
}

.hero + p > a:link,
.hero + p > a:visited {
  color: rgba(255, 255, 255, 0.8);
}

.form__header {
  background-color: hsla(0, 0%, 96%);
  padding: clamp(10px, 5vw, 20px);
}

.form__header > p {
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 1.4;
}

.form__header > p:first-child {
  margin-top: 0;
}

.form__header > p:last-child {
  text-align: center;
  margin-bottom: 0;
}

.input-container {
  background-color: #fff;
  padding-top: 20px;
}

.input-container > h2 {
  margin-top: 0;
  text-align: center;
  font-weight: 300;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 10px;
}

.form label,
.form input {
  display: block;
}

.form label {
  margin-bottom: 5px;
  align-self: flex-start;
  font-weight: 300;
}

.form input {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 5px;
  height: 25px;
  margin-bottom: 30px;
}

.submit-section {
  background-color: hsla(0, 0%, 96%);
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-section > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.submit__btn {
  padding: 0.8rem 1.3rem;
  font-size: 1.3rem;
  background-color: #70caff;
  border: none;
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  letter-spacing: -1px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
}

.submit__para {
  font-weight: 300;
}

.submit__para a:link,
.submit__para a:visited {
  color: hsl(202, 100%, 42%);
  text-decoration: none;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

@media (min-width: 500px) {
  .form__header > p:first-child {
    text-align: center;
  }
}
