@font-face {
  font-family: "Moonless SC";
  src: url("../fonts/MoonlessSC-Regular.woff2") format("woff2"),
    url("../fonts/MoonlessSC-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-display: "Moonless SC", "Segoe Print", "Bradley Hand", Chilanka,
    TSCu_Comic, casual, cursive;
  --font-body: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
    Arial, sans-serif;
}

body {
  font-family: var(--font-body);
}

h1 {
  font-family: var(--font-display);
}
