@font-face {
  font-family: "Moonless SC";
  src:
    url("../fonts/MoonlessSC-Regular.woff2") format("woff2"),
    url("../fonts/MoonlessSC-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-display:
    "Moonless SC", "Segoe Print", "Bradley Hand", Chilanka, TSCu_Comic, casual,
    cursive;
  --font-body:
    Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
    sans-serif;
  --bg-main: #f5f5f5;
  --bg-alt: #fff;
  --text-main: #333;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-body);
  color: var(--text-main);
  background-color: var(--bg-main);
}

.site-header {
  background: url("../images/bg.jpg");
  background-size: cover;
  height: 20rem;
  display: flex;
  align-items: center;
  position: relative;
}

.hero {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.625rem;
}

.hero__logo {
  height: clamp(5rem, 20vw, 6.25rem);
  margin-right: 2rem;
}

.hero__title {
  color: var(--bg-alt);
  font-size: clamp(1.25rem, 10vw, 3.75rem);
  font-family: var(--font-display);
}

.site-header__credit {
  position: absolute;
  bottom: 0rem;
  right: 0.3125rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: clamp(0.75rem, 3vw, 1rem);
}

.site-header__credit a:link,
.site-header__credit a:visited {
  color: rgba(255, 255, 255, 0.8);
}

.signup__intro {
  background-color: var(--bg-main);
  padding: clamp(0.625rem, 5vw, 1.25rem);
}

.signup__intro p {
  font-size: 1.25rem;
  letter-spacing: 0.5px;
  line-height: 1.4;
}

.signup__intro p:first-child {
  margin-top: 0;
}

.signup__intro p:last-child {
  text-align: center;
  margin-bottom: 0;
}

.form-wrapper {
  background-color: var(--bg-alt);
  padding-top: 1.25rem;
}

.form__header {
  margin-top: 0;
  text-align: center;
  font-weight: 300;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 0.625rem;
}

.form__field > label,
.form__field > input {
  display: block;
}

.form__field > label {
  margin-bottom: 0.3125rem;
  align-self: flex-start;
  font-weight: 300;
}

.form__field > input {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 1.5625rem;
  margin-bottom: 1.875rem;
}

.signup__actions {
  background-color: var(--bg-main);
  height: 9.375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup__btn {
  cursor: pointer;
  padding: 0.8rem 1.3rem;
  font-size: 1.3rem;
  background-color: #70caff;
  border: none;
  border-radius: 10px;
  color: var(--bg-alt);
  letter-spacing: -1px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
}

.signup__btn:hover {
  background-color: #1aabff;
}

.signup__btn:active {
  transform: translateY(2px);
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.153);
}

.signup__para {
  font-weight: 300;
}

.signup__para a:link,
.signup__para a:visited {
  color: #0088d6;
  text-decoration: none;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

@media (min-width: 31.25rem) {
  .signup__intro p:first-child {
    text-align: center;
  }
}

@media (min-width: 850px) {
  body {
    display: flex;
    flex-direction: row;
  }

  .site-header {
    height: 100%;
    flex: 6;
  }

  .hero__logo {
    height: clamp(50px, 12vw, 140px);
  }

  .hero__title {
    font-size: clamp(15px, 8vw, 60px);
  }

  .main {
    flex: 10;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .signup__intro p:first-child,
  .signup__intro p:last-child {
    text-align: left;
    max-width: 65ch;
  }

  .form-wrapper {
    padding: 40px;
  }

  .form__header {
    text-align: left;
  }

  .form {
    justify-content: flex-start;
  }
}
